<section id="redemption">

    <div class="" data-aos="fade-in" data-aos-duration="3000">
        <h1>La mort du roi </h1>
        <h2>Le retour au palais</h2>
        <h3 class="accroche">Le roi n’a aucun souvenir d’avant le combat.</h3>
        <p class="narratif">Ils se trouvent dans la salle du deuxième étage. Meruemu active son nen surpuissant. Il repère et ramène Morau et méléolon dans la salle du deuxième étage. Il souhaite les interroger dès leurs réveils.Shauapufu propose un duel au roi. S’il gagne Shauapufuet Montutyupi devront lui dévoiler leurs secrets. S’il perd il exaucera un de leurs vœux. Shauapufu sort et va répandre de la poudre hypnotisante sur les humains. Montutyupi sort et rencontre warrefin. Montutyupitombe, mort subitement.
Meruemuse téléporte à l’emplacement de Warrefin qui lui donne le nom de Komugi. Meruemu se souvient alors des parties avec Komugi.Shauapufu tombe, mort. Les gardes royaux sont morts, empoisonnés par la bombe meurtrière.

        </p>
        <h2>La rencontre avec Pâmu</h2>
        <h3 class="accroche">Un changement infime s’est opéré.</h3>
        <p class="narratif">Meruemu part à la recherche de Komugi. Il lance ses photons à travers le sous-sol. Ceux-ci se concentrent dans un placard. Il se retrouve devant la cachette de Pâmu.
Le roi lui demande ses conditions pour qu’il puisse retrouver Komugi. Dès qu’il a touché le en de pâmu, il apprend qu’il a été empoisonné par Netero. Il sait qu’il va mourir. Il lui dit qu’il a perdu dans la guerre contre l’humanité.Il ne souhaite qu’une chose, passer le reste de son temps à jouer avec Komugi. Pâmu est son dernier espoir de la retrouver. Pâmu hésite. A ce moment le roi s’agenouille devant elle. Pâmu, qui est une ancienne fourmi chimère, accepte de lui dévoiler la cachette de Komugi. Meruemu se retrouve à réveiller Komugi et lui demande de jouer avec lui une dernière fois.
L’amour, le sentiment le plus puissant lui permettra de s’accomplir en tant qu’être suprême.
        </p>
    </div>   
    <div>
        <img src="assets/images/img_meruem2c.png" alt="meruem-gungi-final">
        <img src="assets/images/img_deathking.png" alt="meruem-death">
    </div> 
</section>


