<section id="redemption">

    <div class="" data-aos="fade-in" data-aos-duration="3000">
        <h1>La mort du roi </h1>
        <h1 style="color:red; text-decoration: underline;">section en construction</h1>
        <h2>lorem impsm</h2>
        <h3 class="accroche">La fin ne fut pas un cri de guerre, mais un murmure dans l'obscurité. 
            Empoisonné, Meruem a choisi de mourir dans les bras de Komugi. Il s'est éteint non comme un monstre
            redouté, mais comme un être accompli, prouvant que la plus grande victoire est celle que l'on gagne
            sur sa propre nature.</h3>
        <p class="narratif">lorem impsf ipfio
        </p>
    </div>   
    <div>
        <img src="../../../assets/images/img_meruem2c.png" alt="meruem-gungi-final">
    </div> 
</section>


