<section  id="learning">
    <div class="" data-aos="zoom-in"  >
        <h1>apprentissage</h1>
        <h2>L’arrivée au palais</h2>
        <h3 class="accroche" >Les rares personnes ayant osées se mettre en travers de son chemin servent maintenant de nourriture.</h3>
        <p class="narratif"> A l’entrée du palais, des gardes lui opposent une faible résistance. 
            Sans se concentrer, le roi peut percevoir l’énergie qui émane de leur corps.
             Après avoir dévoré un garde, il récupère son énergie pour augmenter sa force. 
             Neferupito reste stupéfaite devant l’énergie qui émane de l’aura de son roi. 
             Elle comprend que plus le roi mange de la nourriture rare et plus il sera puissant. 
             Devant le roi Digo en place, le roi ne détecte aucune énergie émanant de son corps. 
             Il pense d’abord que c’est un sous fifre, puis il comprend qu’il est le roi de ce pays.
              Pufu signale au roi que les humains ont tendance à mettre des personnes ayant peu de compétences aux postes clés.  
        </p>
        <h2>L’héritage de la chair</h2>
        <p class="narratif">Le processus de sélection
Les personnes choisies auront la chance d’être épargnée et serviront le roi.
Après avoir tué Digo, Neferupito utilise le corps de Digo comme marionnette pour diriger les humains. Le roi décide de créer un jardin des viandes devant le palais dans le but de se nourrir et de nourrir ses soldats. Les gardes royaux commencent à envoyer leurs marionnettes à travers tout le pays pour récupérer les meilleurs éléments humains. Le processus de sélection commence. Le grand rassemblement de la population est prévu dans 9 jours. 

Les jeux de stratégie
Quelle que soit la stratégie, celle-ci sera vite adoptée et contrée par le roi.
Pendant ce temps, le roi développe son intelligence à travers les livres du palais. Il lit les livres relatifs aux règles de jeu de stratégie (go, shogi). Il souhaite prouver que non seulement il est le plus fort physiquement mais, qu’il est également le plus intelligent. Pour cette raison,Il défie les meilleurs joueurs du pays. Au bout de quelques parties contre les meilleurs joueurs, il gagne. Il lui reste un dernier joueur à affronter et il pourra se considérer comme le meilleur. 
</p>
    
    </div>
</section>
  
