/* section GUNGI: plus clair et poétique*/
#meeting {
    background-image:
        linear-gradient(rgba(97, 52, 10, 0.315),rgba(250, 137, 25, 0.5));
        /* url("../../../assets/images/plateau-gungi-blanc.png"); */
    background-repeat: no-repeat;
    background-size: cover;
    padding:5%;

}

:host {
    display:block;
    /* height:100vh; */
    cursor:url("../../../assets/images/img_gungi1e.svg")16 16 , auto;

}
.svg {
    color:black;
    height: 32px;
}

h1 {
    font-size: 2rem;
    border-bottom: 2px solid currentColor;
    padding-bottom: 10px;
    text-transform: uppercase;
    color:rgb(187, 3, 3)

}

h2 {
    font-family:'cinzel', serif;
    font-size:1.5rem;
    color:#665007;
    margin-bottom: 20px;
    text-transform: uppercase;
   
}
.accroche {
    font-family:'cinzel', serif;
    font-size:1.3rem;
     font-style: italic;
     color:black
}


.narratif {
    font-size:1.1rem;
    line-height:1.5;
    font-family: 'lora', sans-serif;
    text-align: justify;
    color:black   
}



