<section id="meeting" >
    <div class="" data-aos="zoom-in">
        <h1>rencontre</h1>
        <h2 class="">Le gungi</h2>
        <h3 class="accroche">lorem ipsum</h3>
        <p class="narratif">Tout a changé avec un claquement de pions. Komugi, une frêle jeune fille aveugle, est devenue 
            le seul adversaire que Meruem n'a jamais pu terrasser. Dans le silence de leurs parties, le roi a découvert
            une force qu'il ne pouvait ni dévorer ni soumettre: la pureté de l'affection.
        </p>
    </div> 

    
</section>

