
/*container principal pour le défilement fluide */
.one-page-container {
    /* scroll-snap-type: y mandatory; effet aimant au défilement */
    height:100vh;
    scroll-behavior: smooth;
    /* overflow-y: scroll; */
    font-family: 'cinzel', serif;
}

/* #section-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding:10%;
    color:white;
    text-align: center;
} */





/* h1{
    font-size: 5rem;
    letter-spacing: 10px;
    margin-bottom: 0;
}

h2 {
    font-size: 3rem;
    border-bottom: 2px solid currentColor;
    padding-bottom: 10px;

} */

