
/*container principal pour le défilement fluide */
.one-page-container {
    /* scroll-snap-type: y mandatory; effet aimant au défilement */
    height:100vh;
    scroll-behavior: smooth;
    /* overflow-y: scroll; */
    font-family: 'cinzel', serif;
}







