<section id="fight">
  <div class="" data-aos="flip-left">
    <h1>Le combat</h1>
    <h2>premier</h2>
    <h3 class="accroche">Le roi ordonne à Neferupito de protéger également Komugi, il commence à s’attacher à elle.</h3>
    <p class="narratif">Komugi et le roi se retrouvent à nouveau pour jouer. Komugi est fatiguée. Le roi lui ordonne d’aller se reposer. Il désire battre la championne mais pas si elle est trop faible pour jouer.Il ordonne à Pito de dorénavant protéger également Komugi. Il lui ordonne de cibler son en sur le rez de chaussée du palais. Toute personne non autorisée qui oserait monter au premier étage sera tuée par lui-même.
Le roi s’interroge de plus en plus sur sa propre existence, ce pourquoi il est né et ce qu’il doit accomplir ? A quel destin est-il voué ? Il se dit que s’il doit avoir des marionnettes à ses ordres et des gardes royaux dévoués corps et âme à lui,son destin s’annonce bien ennuyeux.

    </p>

    <h2>l'assaut</h2>
    <h3 class="accroche">Les gardes royaux occupés avec les hunters laissent le roi seul.</h3>
    <p class="narratif">A minuit, l’attaque des hunters commence.  Un peu avant minuitNetero et Zenodescendent du ciel. Celui –ci lance son dragon dive, une pluie de flèches enflammées. 
Neferupito voit la menace apparaître et concentre son en vers le ciel. Un dragon de lumière descend du ciel. Au moment où le dragon de lumière touche le en de Neferupito, celui-ci se fragmente en une pluie de dragons de lumière qui s’abattent sur le palais. Netero, lors d’une attaque,écarte violement Neferupito loin du palais.Neferupito ne peut pas éviter l’attaque et se fait éjecter loin du palais. Il active doctorBlythe, une de ses compétences. En activant cette faculté, Neferupito ne peut se déplacer que dans un rayon de 20 mètres autour du lieu de son activation. Cette compétence évite à Neferupito d’être envoyé loin du palais. 
Il repère le roi dans la tour, au niveau de la chambre des invités. Il revient rapidement au palais. Il trouve le roi tenant Komugi dans ses bras. Elle est gravement blessée au ventre.Il fait preuve d’une grande douceur envers Komugi.Le roiordonne à Neferupito de la soigner à tout prix. Les deux hunters, Zeno et Netero, venus pour tuer le roi sont stupéfiés par son humanité, et sa propension à vouloir sauver cette humaine. Le roi propose de s’éloigner pour les combattre.
Ils baissent leurs gardes et le roi passe à côté d’eux pour sortir de la pièce sans aucune réaction de leur part.

    </p>
    <h2>le combat contre Netero</h2>
    <h3 class="accroche">Le combat entre deux forces impressionnantes peut commencer. Le vrai monstre est –il celui qui veut conquérir le monde en protégeant les faibles et en abolissant les classes sociales ou celui qui veut dominer à tout prix toutes les espèces quitte à utiliser des armes ultimes ?</h3>
    <p class="narratif">Le dragon de Zeno emmène le roi et Netero dans une zone sans habitants, utilisée habituellement par l’armée pour des tests.
Le roi refuse de se battre. Il propose une collaboration avec les humains.Neteroa pour mission d’éliminer la menace des fourmis chimères qui pèse sur le pays. Il est impensable que les humains se soumettent à une autre race.
Le roi expose son opinion. A son début, il souhaitait dominer le monde et considérait les humains comme une source de nourriture. Puis, il a rencontré des humains ayant des facultés spéciales. Il a fait évoluer son point de vue. Il souhaitemaintenant créer un monde sans inégalités. Un monde où les plus faibles seront protégés et où les classes n’existeront plus. Il s’assoit donc et signale à Neteroque seuls les mots pourront l’atteindre.
Neteroveut forcer le roi à se battre. Il lui propose alors de lui dévoiler son prénom s’il perd. Le roi est devenu plus humain, connaitre son identité est donc devenu primordiale pour lui. Il accepte le combat. Neterodoit tuer le roi, mais celui-ci doit lui faire avouer son identité sans le tuer.
Les deux combattants échangent des coups. Le roi encaisse les différentes attaques de son adversaire sans une égratignure faisant confiance à sa résistance physique hors norme. Il étudie les mouvements de Neteropour élaborer sa stratégie d’attaque. Il est étonnamment surpris devant les capacités physiques de Netero.
Après avoir coupé le bras gauche et la jambe droite de Netero, celui-ci lui dévoile le prénom que sa mère lui a donné avant sa mort : « Meruemu »
A ce moment, Meruemu découvre le sentiment de peur. Il comprend que le combat était perdu d’avance pour lui. Netero active sa rose meurtrière, bombe surpuissante qui détruit toute vie sur son passage.

    </p>
    <h2>la renaissance</h2>
    <h3 class="accroche">La dévotion sans faille de deux de ses gardes royaux lui permet de renaitre.</h3>
    <p class="narratif">Neferupito active sa capacité doctorBlythe, pour sauver Komugi. Il doit protéger Komugi coûte que coûte pour obéir à l’ordre du roi. Gon lui accorde une durée d’une heure, juste pour tirer d’affaireKomugi. Il patiente malgré son envie de le tuer immédiatement. Shauapufu ayant terminé son combat contre Morau revient dans la pièce où Neferupitosauve Komugi.Neferupitolui raconte comment deux hunters sont arrivés et comment le roi est parti avec l’un deux.
Shauapufu sort de la pièce. En chemin, il croise Montutyupiet tous les deux se rendent sur le lieu de combat deMeruemu et Netero
Après une heure d’attente, Neferupitoet Gon se rendent au lieu où se trouve Kaito. Neferupitoest désolé mais, il ne peut pas sauver Kaito qui est déjà mort. Gon se transforme en devenant plus vieux et plus puissant. Rapidement, Neferupitoa peur de lui. Le combat entre Gon et Neferupitoest sans appel pour Pito. Il meurt.
Arrivé au lieu du combat, le corps de Meruemu est très mal en point. Shauapufu et Montutyupifont don de leurs cellules pour lui. Le roi renaît.

    </p>
    <h2>Les nouveaux pouvoirs</h2>
    <h3 class="accroche">Meruemu récupère les capacités de Shauapufu et de Montutyupi en plus des siennes.</h3>
    <p class="narratif">Meruemu a goûté aux cellules de ses gardes royaux. Il trouve cette nourriture excellente. 
Meruemu peut dorénavant voler. Quelques secondes lui suffisent pour maitriser cette nouvelle compétence. Il a perdu la mémoire et ne se souvient plus de ce du combat qu’il menait. Les deux gardes comprennent qu’ils peuvent en profiter pour tuer Komugi. Ils lui proposent de retourner au palais pour qu’il puisse retrouver sa mémoire. Le roi pouvant voler à la vitesse du son, ils sont de retour rapidement au palais.Shauapufu imagine différentes façons pour retrouver Komugi et l’éliminer avant le roi.

</p>
  </div>
</section>