<!-- composant tableau et pièces -->
 <!-- création de la grille 9x9 cases -->
<section id="gungi">
  <div class="text-block" data-aos="fade-up">
    <h1 class="accroche">l'énigme du gungi</h1>
      <h2 class="narratif">quand la stratégie devient une énigme...</h2>
  </div>

  <div class="board">
    <img src="assets/images/img_meruem-full2.png" alt="meruem-full" class="">
    <div class="gungi-board" data-aos="zoom-in" data-aos-delay="300">
      <div class="cell"></div>
      <div class="cell">
        <img src="assets/images/img_gungi12.png" alt="pion_gungi" class="gungi-piece">
      </div>
    <div class="cell"></div>
    <div class="cell">
      <img src="assets/images/img_gungi1e.png" alt="pion_gungi" class="gungi-piece">
    </div>
    <div class="cell center-piece"></div>
    <div class="cell">
      <img src="assets/images/img_gungi2b.png" alt="pion_gungi" class="gungi-piece">
    </div>
    <div class="cell"></div>
    <div class="cell">
      <img src="assets/images/img_gungi3b.png" alt="pion_gungi" class="gungi-piece">
    </div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell">
      <img src="assets/images/img_gungi4.png" alt="pion_gungi" class="gungi-piece">
    </div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell">
      <img src="assets/images/img_gungi5b.png" alt="pion_gungi" class="gungi-piece">
    </div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell">
      <img src="assets/images/img_gungi6.png" alt="pion_gungi" class="gungi-piece">
    </div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell">
      <img src="assets/images/img_gungi7.png" alt="pion_gungi" class="gungi-piece">
    </div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell">
      <img src="assets/images/img_gungi8.png" alt="pion_gungi" class="gungi-piece">
    </div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell">
      <img src="assets/images/img_gungi9.png" alt="pion_gungi" class="gungi-piece">
    </div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell">
      <img src="assets/images/img_gungi10.png" alt="pion_gungi" class="gungi-piece">
    </div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell">
      <img src="assets/images/img_gungi11.png" alt="pion_gungi" class="gungi-piece">
    </div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell">
      <img src="assets/images/img_gungi12.png" alt="pion_gungi" class="gungi-piece">
    </div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell">
      <img src="assets/images/img_gungi13.png" alt="pion_gungi" class="gungi-piece">
    </div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell">
      <img src="assets/images/img_gungi1d.png" alt="pion_gungi" class="gungi-piece">
    </div>
    <div class="cell"></div>
    
  </div>
</div>
</section>
