<!-- composant tableau et pièces -->
 <!-- création de la grille 9x9 cases -->
<section id="gungi">
  <div class="text-block" data-aos="fade-up">
    <h1 class="accroche">l'énigme du gungi</h1>
      <h2 class="narratif">quand la stratégie devient une énigme...</h2>
  </div>

  <div class="gungi-board" data-aos="zoom-in" data-aos-delay="300">
    <div class="cell"></div>
    <div class="cell">
      <img src="assets/images/icon_gungi2.svg" alt="pion_gungi" class="gungi-piece">
    </div>
    <div class="cell"></div>
    <div class="cell">
      <img src="assets/images/icon_gungi2.svg" alt="pion_gungi" class="gungi-piece">
    </div>
    <div class="cell center-piece">
      <img src="assets/images/icon_gungi2.svg" alt="pion_gungi" class="gungi-piece">
    </div>
    <div class="cell">
      <img src="assets/images/icon_gungi2.svg" alt="pion_gungi" class="gungi-piece">
    </div>
    <div class="cell"></div>
    <div class="cell">
      <img src="assets/images/icon_gungi2.svg" alt="pion_gungi" class="gungi-piece">
    </div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    
  </div>
</section>
