html {
    scroll-behavior: smooth;
}

section {
    padding: 80px 20px;
    text-align: center;
}

nav {
    position :fixed;
    top:0;
    width: 100%;
    background:#111;
    padding: 15px;
}

a {
    margin:15px;
    color:#22c55e
}
